<div class="body">

    <header class="header">
      <nav class="navbar navbar-expand-lg">
          <div class="col-12 col-sm-1 col-xs-12 col-md-1 col-lg-1">
              <img class="logo" src="..\..\assets\imagens\logo.png" alt="logo" >
          </div>
  
          <div class="col-10 col-sm-4 col-xs-12 col-md-6 col-lg-10">
              <div class="navbar-nav justify-content-center">
                  <h1 class="font-weight-bold" >Cadastro De Doador</h1>
              </div>
          </div>
      </nav>
    </header>
  
    <div class="container">
        <div class="row">
          <div>
            <form>
            <div class="row form-row"> 
                <h2>Dados do doador</h2>
              <div class="col-5">
                <label for="exampleFormControlInput1" class="form-label">Nome (Completo) do doador</label>
                <input type="text" class="form-control">
              </div>

              <div class="col-5">
                <label for="exampleFormControlTextarea1" class="form-label second-field">E-mail</label>
                <input class="form-control second-field" id="exampleFormControlTextarea1">
              </div>
            </div>
            
            <div class="row form-row"> 
              <div class="col-5">
                <label for="exampleFormControlInput1" class="form-label">CPF</label>
                <input type="text" placeholder="" class="form-control">
              </div>

                <div class="col-5">
                  <label for="exampleFormControlInput1" class="form-label second-field">Telefone</label>
                  <input type="text" placeholder="(XXX) XXXXXXXX" class="form-control second-field">
                </div>
    
            </div>
     
            
      <div class="row form-row"> 
        <h2>Informações sobre doador</h2>
        <div class="col-5">
          <label for="exampleFormControlInput1" class="form-label">Genero</label>
          <input type="text" class="form-control">
    
        </div>
        <div class="col-5">
          <label for="exampleFormControlTextarea1" class="form-label second-field">Faixa etária</label>
          <input type="text" class="form-control second-field" id="exampleFormControlTextarea1">
    
        </div>
      </div>
    
      <div class="row form-row">
        <div class="col-5">
          <label for="exampleFormControlInput1" class="form-label">Escolaridade</label>
          <input type="text" class="form-control">
        </div>

        <div class="col-5">
            <label for="exampleFormControlInput1" class="form-label second-field">Renda familiar</label>
            <input type="number" class="form-control second-field">
        </div>
    
      </div>

      <div class="row form-row">
        <div class="col-5">
          <label for="exampleFormControlInput1" class="form-label">Nº de Pessoas na casa</label>
          <input type="number" placeholder="0" class="form-control">
        </div>
      </div>

      <div class="row form-row">
        <h2>Endereço</h2>
        <div class="col-5">
          <label for="exampleFormControlInput1" class="form-label">Cidade</label>
          <input type="text" class="form-control">
        </div>

        <div class="col-5">
            <label for="exampleFormControlInput1" class="form-label second-field">CEP</label>
            <input type="number" class="form-control second-field">
        </div>

        <div class="col-5">
            <label for="exampleFormControlInput1" class="form-label">Rua</label>
            <input type="text" class="form-control">
          </div>
  
          <div class="col-5">
              <label for="exampleFormControlInput1" class="form-label second-field">Nº Número</label>
              <input type="number" placeholder="0" class="form-control second-field">
          </div>

          <div class="col-5">
            <label for="exampleFormControlInput1" class="form-label">Bairro</label>
            <input type="text" class="form-control">
          </div>
      </div>

      


      <div class="row">
        <div class="buttons-div">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <button type="submit" class="btn btn-warning">Voltar</button>
        </div>
        
      </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  