<div class= "historicoDoacoes">
  <app-header [title]="'Histórico de Doações'"></app-header>

  <div class="historico-doacoes">
    <div class="container">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Remédio</th>
              <th scope="col">Data de Doação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doacao of historicoDoacoes; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ doacao.nomeMedicamento }}</td>
              <td>{{ doacao.dataDoacao | date: 'dd/MM/yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-voltar></app-voltar>
</div>
