<app-header [title]="'Relatorio de estoque total'"></app-header>
<div class="estoqueTotal">


<div class=container>
    <div class="content">
        <aside>
            <div class="input-container">
                <label for="input-text">Nome do remédio</label>
                <input type="text" id="input-text" name="input-text" placeholder="Insira aqui...">
            </div>
        </aside>
        <main>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Posição</th>
                            <th>Nome</th>
                            <th>Dosagem</th>
                            <th>Fabricante</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Losartana</td>
                            <td>50mg</td>
                            <td>EMS</td>
                            <td>500 un</td>
                            <td>R$ 540.00</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Ibuprofeno</td>
                            <td>200mg</td>
                            <td>Neo Química</td>
                            <td>490 un</td>
                            <td>R$ 150.00</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Paracetamol</td>
                            <td>500mg</td>
                            <td>Medley</td>
                            <td>480 un</td>
                            <td>R$ 200.00</td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>Simvastatina</td>
                            <td>40mg</td>
                            <td>Aché</td>
                            <td>470 un</td>
                            <td>R$ 350.00</td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>Omeprazol</td>
                            <td>20mg</td>
                            <td>Eurofarma</td>
                            <td>460 un</td>
                            <td>R$ 220.00</td>
                        </tr>
                        <tr>
                            <td>06</td>
                            <td>AAS</td>
                            <td>100mg</td>
                            <td>Bayer</td>
                            <td>450 un</td>
                            <td>R$ 180.00</td>
                        </tr>
                        <tr>
                            <td>07</td>
                            <td>Atorvastatina</td>
                            <td>10mg</td>
                            <td>Sandoz</td>
                            <td>440 un</td>
                            <td>R$ 300.00</td>
                        </tr>
                        <tr>
                            <td>08</td>
                            <td>Levotiroxina</td>
                            <td>75mcg</td>
                            <td>Sanofi</td>
                            <td>430 un</td>
                            <td>R$ 250.00</td>
                        </tr>
                        <tr>
                            <td>09</td>
                            <td>Metformina</td>
                            <td>850mg</td>
                            <td>EMS</td>
                            <td>420 un</td>
                            <td>R$ 130.00</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Enalapril</td>
                            <td>10mg</td>
                            <td>Medley</td>
                            <td>410 un</td>
                            <td>R$ 190.00</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Hidroclorotiazida</td>
                            <td>25mg</td>
                            <td>Teuto</td>
                            <td>400 un</td>
                            <td>R$ 140.00</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Captopril</td>
                            <td>25mg</td>
                            <td>EMS</td>
                            <td>390 un</td>
                            <td>R$ 160.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="HomeAdmin">
                <div class="row">
                    <div class="buttons-div">
                        <button type="button" class="btn btn-warning">Voltar</button>
                    </div>
                </div>
            </a>
        </main>
        <div>
            
        </div>
    </div>
</div>
<app-footer></app-footer>
</div>