<header>
    <img src="../../assets/logo.png" alt="Logo Remediar" id="logo">

</header>

<main>
    <div id="campo_pesquisa">
        <input type="text">
        <button>Pesquisar</button>
    </div>

    <table>
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Peso</th>
                <th scope="col">Data de validade</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button>Detalhes</button>
                    <button>Dar baixa</button>
                </td>
                <td>
                    <button>Descartar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button>Cadastrar novo</button>

</main>

<footer>
    <span>?</span>

    <div id="logo-social-area">
        <img src="/src/assets/logo.png" alt="Logo Remediar" id="logo--">
        <div id="redes-sociais">
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
        </div>
    </div>
</footer>