<app-header [title]="'Cadastro de Medicamentos'"></app-header>

<main>
    <a href="HomeAdmin">
        <button type="button" class="btn btn-primary">Voltar</button>
    </a>

    <div id="formulario">
        <form id="formCadastro">
            <h3 class="borda_letra">Cadastrar Produto</h3>
    
            <div class="entradaDados">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="">
            </div>
    
            <div class="entradaDados">
                <label for="quantidade">Quantidade</label>
                <input type="number" name="quantidade" id="">
            </div>
    
            <div class="entradaDados">
                <label for="peso">Peso</label>
                <input type="number" name="peso" id="">
            </div>
    
            <div class="entradaDados">
                <label for="dataValidade">Data de validade</label>
                <input type="date" name="dataValidade" id="">
            </div>

            <button type="button" class="btn btn-secondary">Cadastrar</button>
        </form>
    </div>

</main>

<footer>
    <div id="logo-social-area">
        <img src="../../assets/imagens/logo.png" alt="Logo Remediar" id="logo">
        <div id="redes-sociais">
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
        </div>
    </div>
</footer>
