<app-header-tela-inicial-users></app-header-tela-inicial-users>
<section class="dashboard">
  <div class="dashboard-card xol-4">
    <a href="SolicitacaoDoacoes">
      <img src="assets/img/remedio01.jpg" alt="Solicitações de doação">
      <h3>Solicitações de doação</h3>
    </a>
  </div>
  <div class="dashboard-card">
    <a href="PedidosRecebidos">
      <img src="assets/img/remedio02.jpg" alt="Pedidos de doação">
      <h3>Pedidos de doação</h3>
    </a>
  </div>
  <div class="dashboard-card">
    <a href="CadastroMedicamentos">
      <img src="assets/img/remedio03.jpg" alt="Cadastro de Remédios">
      <h3>Cadastro de Remédios</h3>
    </a>
  </div>
  <div class="dashboard-card">
    <a href="ControleEstoque">
      <img src="assets/img/remedio04.png" alt="Estoque">
      <h3>Estoque</h3>
    </a>
  </div>
  <div class="dashboard-card">
    <a href="EmitirRelatorio">
      <img src="assets/img/remedio05.jpg" alt="Emitir relatórios">
      <h3>Emitir relatórios</h3>
    </a>
  </div>
  <!-- <div class="dashboard-card">
    <a href="HistoricoDoadores">
      <img src="assets/img/remedio06.png" alt="Histórico de Doadores">
      <h3>Histórico de Doadores</h3>
    </a> 
  </div> -->
</section>
<app-footer></app-footer>
