<div class="body">

  <header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="col-12 col-sm-1 col-xs-12 col-md-1 col-lg-1">
            <img class="logo" src="..\..\assets\Images\logo.png" alt="logo" >
        </div>

        <div class="col-10 col-sm-4 col-xs-12 col-md-6 col-lg-10">
            <div class="navbar-nav justify-content-center">
                <h1 class="font-weight-bold" >Doação de Medicamentos</h1>
            </div>
        </div>
    </nav>
  </header>

  <div class="container">
    <h2>Informações do Medicamento</h2>
      <div class="row">
        <div>
          <form [formGroup]="doacaoForm" (ngSubmit) = "submit()" #formDir="ngForm">
          <div class="row form-row"> 
            <div class="col-5">
              <label for="exampleFormControlInput1" class="form-label">Nome do Medicamento</label>
              <input type="text" class="form-control" formControlName="nomeMedicamento" [ngClass]="{'inputError':formDir.submitted && doacaoForm.controls['nomeMedicamento'].hasError('required')}">
              <p *ngIf = "formDir.submitted && (doacaoForm.controls['nomeMedicamento'].hasError('required'))" class = "mensagem-error">Informe o Nome do Medicamento</p>
              
            </div>
            <div class="col-5">
              <label for="exampleFormControlTextarea1" class="form-label second-field">Quantidade (Caixas)</label>
              <input class="form-control second-field" id="exampleFormControlTextarea1" formControlName="qtdCaixas" [ngClass]="{'inputError':formDir.submitted && doacaoForm.controls['qtdCaixas'].hasError('required')}">
              <p style="margin-left: 68px;" *ngIf = "formDir.submitted && (doacaoForm.controls['qtdCaixas'].hasError('required'))" class = "mensagem-error">Informe a Quantidade de Caixas</p>
             
            </div>
          </div>
          <div class="row form-row"> 
            <div class="col-5">
              <label for="exampleFormControlInput1" class="form-label">Quantidade de mg</label>
              <input type="number" class="form-control" formControlName="qtdMg" [ngClass]="{'inputError':formDir.submitted && doacaoForm.controls['qtdMg'].hasError('required')}">
              <p *ngIf = "formDir.submitted && (doacaoForm.controls['qtdMg'].hasError('required'))" class = "mensagem-error">Informe a Quantidade de Mg</p>
            </div>
  
           
  
            <div class="col-5">
              <label for="exampleFormControlInput1" class="form-label second-field">Data de Validade</label>
              <input type="date" class="form-control second-field" id="exampleFormControlInput1" formControlName="dtValidade" [ngClass]="{'inputError':formDir.submitted && doacaoForm.controls['dtValidade'].hasError('required')}">
              <p style="margin-left: 68px;" *ngIf = "formDir.submitted && (doacaoForm.controls['dtValidade'].hasError('required'))" class = "mensagem-error">Informe a Data Validade</p>
            </div>
          </div>

          <div class="row form-row"> 
            <div class="col-5">
              <label for="exampleFormControlInput1" class="form-label">Melhor dia e Horário para Retirada</label>
              <input type="datetime-local" class="form-control" id="exampleFormControlInput1" formControlName="dtRetirada" [ngClass]="{'inputError':formDir.submitted && doacaoForm.controls['dtRetirada'].hasError('required')}">
              <p *ngIf = "formDir.submitted && (doacaoForm.controls['dtRetirada'].hasError('required'))" class = "mensagem-error">Informe a Data Retirada</p>            
            </div>
          </div>

    <div class="row">
      <div class="buttons-div">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="" class="btn btn-warning">Voltar</button>
      </div>
      
    </div>
          
        </form>
      </div>
    </div>
  </div>
</div>


