<app-header-tela-inicial-users></app-header-tela-inicial-users>
<section class="dashboard">
  <div class="dashboard-card medium">
    <a href="DoacaoMedicamento">
      <img src="assets/img/remedioDoador05.jpg" alt="Formulário de sugestão de doação">
      <h3>Fazer doações</h3>
    </a>
  </div>
  <div class="dashboard-card small">
    <a href="SolicitarMedicamento">
      <img src="assets/img/remedioDoador02.jpg" alt="Solicitar doações">
      <h3>Solicitar Medicamento</h3>
    </a>
  </div>
  <div class="dashboard-card small">
    <a href="#minhas-solicitacoes">
      <img src="assets/img/remedioDoador03.jpg" alt="Minhas solicitações">
      <h3>Minhas solicitações</h3>
    </a>
  </div>
  <div class="dashboard-card fullw">
    <a href="#doacoes-feitas">
      <img class="img-contain" src="assets/img/mao_coracao.jpg" alt="Doações feitas">
      <h3>Doações feitas</h3>
    </a>
  </div>
</section>
<app-footer></app-footer>
