
<app-header [title]="'Relatório de Remédios Descartados'"></app-header>

<div class="medicamentosDescartados">
    <div id="campo_pesquisa">
        <input type="text">
        <input type="button" value="Pesquisar">
    </div>

    <div id="titulo_tabela" class="borda_letra">
        <h2>Remédios Descartados</h2>
    </div>
    <div id="container_tabela">
        <table>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade descartada</th>
                    <th scope="col">Valor descartado</th>
                </tr>
            </thead>
            <tbody *ngFor="let medicamentoDescartados of medicamentosDescartados">
                <tr>
                    <td>{{ medicamentoDescartados.id }}</td>
                    <td>{{ medicamentoDescartados.medicamento.nomeMedicamento }}</td>
                    <td>{{ medicamentoDescartados.qtdDescartada }}</td>
                    <td>{{ medicamentoDescartados.valorDescartado }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-voltar></app-voltar>
</div>
