<header>
    <img src="../../assets/imagens/logo.png" alt="Logo Remediar" id="logo">
    <nav>
        <ul id="navegacao">
            <a href=""><li class="borda_letra">Pedidos</li></a>
            <a href=""><li class="borda_letra">Solicitações</li></a>
            <a href=""><li class="borda_letra">Estoque</li></a>
            <a href=""><li class="borda_letra">Relatórios</li></a>
            <a href=""><li class="borda_letra">Histórico</li></a>
        </ul>
    </nav>
</header>

<main>
    <div id="campo_pesquisa">
        <input type="text">
        <input type="button" value="Pesquisar">
    </div>

    <div id="titulo_tabela" class="borda_letra">
        <h2>Remédios Descartados</h2>
    </div>
    <div id="container_tabela">
        <table>
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Quantidade descartada</th>
                    <th scope="col">Valor descartado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<footer>
    <div id="logo-social-area">
        <img src="../../assets/imagens/logo.png" alt="Logo Remediar" id="logo">
        <div id="redes-sociais">
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
        </div>
    </div>
</footer>
