<app-header [title]="'Pedidos recebidos'"></app-header>
<div class="pedidosRecebidos">
    <div class="row filtros justify-content-end">
            <div class="col-2">
                <label for="status">Status:</label>
                <select id="status">
                    <option value="entregue">Todos</option>
                    <option value="pendente">Pendente</option>
                    <option value="entregue">Concluído</option>
                </select>
            </div>
            <div class="col-4">
                <label for="date">Período:</label>
                <input type="date" id="start_date">
                <input type="date" id="end_date">
            </div>
        <div class="filter">
        </div>
    </div>
    <div class="lancamentos">
        <table>
            <thead>
              <tr>
                <th class="col-1">Número</th>
                <th class="col-1">Solicitante</th>
                <th class="col-3">Medicamento</th>
                <th class="col-1">Quantidade</th>
                <th class="col-2">Endereço de Retirada</th>
                <th class="col-1">Data do Pedido</th>
                <th class="col-1">Status</th>
                <th class="col-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Solicitante</td>
                <td>Medicamento</td>
                <td>Quantidade</td>
                <td>RUA CARIJOS, 141 - 2º ANDAR
                    (DENTRO DO SINDMAR) - CENTRO BH</td>
                <td>Data do Pedido</td>
                <td>Status</td>
                <td><button class="btn-concluido">Concluir</button></td>
              </tr>
              <tr>
                <td>1</td>
                <td>Solicitante</td>
                <td>Medicamento</td>
                <td>Quantidade</td>
                <td>CENTRO - RUA CARIJOS, 141 - 2º ANDAR
                    (DENTRO DO SINDMAR) - CENTRO BH</td>
                <td>Data do Pedido</td>
                <td>status</td>
                <td><button class="btn-concluido">Concluir</button></td>
              </tr>
              <tr>
                <td>1</td>
                <td>Solicitante</td>
                <td>Medicamento</td>
                <td>Quantidade</td>
                <td>RUA FERREIRA DE AGUIAR, 289, NAZARE</td>
                <td>Data do Pedido</td>
                <td>Status</td>
                <td><button class="btn-concluido">Concluir</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    
    <div class="row mb-2 divBotao">
        <a href="HomeDoador">
            <button class="btn-voltar">Voltar</button>
        </a>
    </div>
<div>
    
</div>