<div class="solicitacoes">
  <app-header [title]="'Pedidos Realizados'"></app-header>

  <div class="row filtros justify-content-end">
    <div class="col-3">
      <label for="status">Status:</label>
      <select class="select-custom" id="status" [(ngModel)]="statusSelecionado" (change)="filtraPedidos()">
        <option value="Todos">Todos</option>
        <option value="Pendente">Pendente</option>
        <option value="Aprovado">Aprovado</option>
        <option value="Concluido">Concluído</option>
        <option value="Reprovado">Reprovado</option>
      </select>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Remédio</th>
            <th scope="col">Dosagem</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Endereço</th>
            <th scope="col">Telefone</th>
            <th scope="col">Data de Retirada</th>
            <th scope="col">Status</th>
            <th scope="col">Atualizar Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidosFiltrados; let i = index" [ngClass]="{'pedidoConcluido': pedido.statusPedido === 'Concluido'}">
            <th scope="row">{{i + 1}}</th>
            <td>{{pedido.nomeMedicamento}}</td>
            <td>{{pedido.dosagem}}</td>
            <td>{{pedido.quantidade}}</td>
            <td>{{pedido.endereco}}</td>
            <td>{{pedido.telefone}}</td>
            <td>{{pedido.dataRetirada | date : 'dd/MM/yyyy - hh:mm'}}</td>
            <td [ngClass]="{'pedidoConcluido': pedido.statusPedido === 'Concluido', 'pedidoReprovado': pedido.statusPedido === 'Reprovado', 'bg-warning': pedido.statusPedido === 'Pendente', 'pedidoAprovado': pedido.statusPedido === 'Aprovado'}">{{pedido.statusPedido}}</td>
            <td><button (click)="atualizaStatus(pedido)">Atualizar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mb-2 divBotao">
      <a routerLink (click)="goBack()">
        <button class="btn-voltar">Voltar</button>
      </a>
    </div>
  </div>
</div>
