<div class="cadastroDoador">
  <app-header [title]="'Cadastro De Doador'"></app-header>
  
    <div class="container">
        <div class="row">
          <div>
            <form [formGroup]="usuarioCadastroForm" (ngSubmit) = "submit()" #formDir="ngForm" >
            <div class="row form-row"> 
                <h2>Dados do doador</h2>
              <div class="col-5">
                <label for="exampleFormControlInput1" class="form-label">Nome (Completo) do doador<span> *</span></label>
                <input type="text" class="form-control" formControlName="nome" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['nome'].hasError('required')}">
                <p *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['nome'].hasError('required'))" class = "mensagem-error">Informe seu nome completo </p>
              </div>

              <div class="col-5">
                <label for="exampleFormControlInput2" class="form-label second-field">Nº de Pessoas na casa<span> *</span></label>
                <input type="number" placeholder="0" class="form-control second-field" formControlName="numPessoaCasa" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['numPessoaCasa'].hasError('required')}" min = 1>
                <p style="margin-left: 68px;" *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['numPessoaCasa'].hasError('required'))" class = "mensagem-error">Informe o número de pessoas na casa </p>             
              </div>
            </div>
            
            <div class="row form-row"> 
              <div class="col-5">
                <label for="exampleFormControlInput3" class="form-label">CPF<span> *</span></label>
                <input type="text" mask="000.000.000.-00" placeholder="000.000.000.-00" class="form-control" formControlName="cpf" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['cpf'].hasError('required')}">
                <p *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['cpf'].hasError('required'))" class = "mensagem-error">Informe o seu CPF</p>
              </div>

                <div class="col-5">
                  <label for="exampleFormControlInput4" class="form-label second-field">Telefone <span> *</span></label>
                  <input type="tel" mask="(00) 00000-0000" placeholder="(00) 00000-0000" class="form-control second-field" formControlName="telefone" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['telefone'].hasError('required')}">
                  <p  style="margin-left: 68px;" *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['telefone'].hasError('required'))" class = "mensagem-error">Informe seu telefone </p>                
                </div>
    
            </div>
     
            
      <div class="row form-row"> 

        <div class="col-5">
          <label for="exampleFormControlInput5" class="form-label">Gênero<span> *</span></label>
          <input type="text" class="form-control" formControlName="genero" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['genero'].hasError('required')}">
          <p *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['genero'].hasError('required'))" class = "mensagem-error">Informe seu Gênero </p>
        </div>

        <div class="col-5">
          <label for="exampleFormControlTextarea6" class="form-label second-field">Faixa etária<span> *</span></label>
          <input type="number" class="form-control second-field" formControlName="faixaEtaria" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['faixaEtaria'].hasError('required')}">
          <p style="margin-left: 68px;" *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['faixaEtaria'].hasError('required'))" class = "mensagem-error">Informe sua Faixa Etária </p>
        </div>
      </div>
    
      <div class="row form-row">
        <div class="col-5">
          <label for="exampleFormControlInput7" class="form-label">Escolaridade<span> *</span></label>
          <input type="text" class="form-control" formControlName="escolaridade" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['escolaridade'].hasError('required')}">
          <p *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['escolaridade'].hasError('required'))" class = "mensagem-error">Informe sua Escolaridade</p>
        </div>

        <div class="col-5">
            <label for="exampleFormControlInput8" class="form-label second-field">Renda familiar<span> *</span></label>
            <input type="number" class="form-control second-field" formControlName="rendaFamiliar" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['rendaFamiliar'].hasError('required')}"  min = 0>
            <p style="margin-left: 68px;" *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['rendaFamiliar'].hasError('required'))" class = "mensagem-error">Informe sua Renda Familiar</p>
          </div>
    
      </div>

      <div class="row form-row">
        <div class="col-5">
          <label for="email" class="form-label">E-mail<span> *</span></label>
          <input type="email" class="form-control" formControlName="email" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['email'].hasError('required') || usuarioCadastroForm.controls['email'].hasError('email')}">
          <p *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['email'].hasError('required') || usuarioCadastroForm.controls['email'].hasError('email'))" class = "mensagem-error">Informe um email válido</p>
        </div>

        <div class="col-5">
          <label for="exampleFormControlInput10" class="form-label second-field">Senha<span> *</span></label>
          <input type="password" class="form-control second-field" formControlName="senha" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['senha'].hasError('required')}">
          <p style="margin-left: 68px;" *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['senha'].hasError('required'))" class = "mensagem-error">Informe uma Senha </p>
      </div>

      </div>

      <div class="row form-row">
        <h2>Endereço</h2>

        <div class="col-5">
          <label for="exampleFormControlInput1" class="form-label">Estado<span> *</span></label>
          <input type="text" class="form-control" formControlName="estado" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['estado'].hasError('required')}">
          <p *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['estado'].hasError('required'))" class = "mensagem-error">Informe seu Estado </p>
        </div>

        <div class="col-5">
            <label for="exampleFormControlInput1" class="form-label second-field">Região<span> *</span></label>
            <input type="text" class="form-control second-field" formControlName="regiao" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['regiao'].hasError('required')}">
            <p  style="margin-left: 68px;" *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['regiao'].hasError('required'))" class = "mensagem-error">Informe sua Região </p>
        </div>

        <div class="col-5" style="margin-top: 15px;">
          <label for="exampleFormControlInput1" class="form-label">Cidade<span> *</span></label>
          <input type="text" class="form-control" formControlName="cidade" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['cidade'].hasError('required')}">
          <p *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['cidade'].hasError('required'))" class = "mensagem-error">Informe sua Cidade </p>
        </div>

        <div class="col-5" style="margin-top: 15px;">
            <label for="exampleFormControlInput1" class="form-label second-field">CEP<span> *</span></label>
            <input type="text" mask="00000-000" placeholder="00000-000" class="form-control second-field" formControlName="cep" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['cep'].hasError('required')}">
            <p style="margin-left: 68px;" *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['cep'].hasError('required'))" class = "mensagem-error">Informe seu CEP </p>
        </div>

        <div class="col-5" style="margin-top: 15px;">
            <label for="exampleFormControlInput1" class="form-label">Rua<span> *</span></label>
            <input type="text" class="form-control" formControlName="rua" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['rua'].hasError('required')}">
            <p *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['rua'].hasError('required'))" class = "mensagem-error">Informe sua Rua </p>
          </div>
  
          <div class="col-5" style="margin-top: 15px;">
              <label for="exampleFormControlInput1" class="form-label second-field">Nº Número<span> *</span></label>
              <input type="text" placeholder="0" class="form-control second-field" formControlName="numero" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['numero'].hasError('required')}">
              <p style="margin-left: 68px;" *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['numero'].hasError('required'))" class = "mensagem-error">Informe o Número </p>
            </div>

          <div class="col-5" style="margin-top: 15px;">
            <label for="exampleFormControlInput1" class="form-label">Bairro<span> *</span></label>
            <input type="text" class="form-control" formControlName="bairro" [ngClass]="{'inputError':formDir.submitted && usuarioCadastroForm.controls['bairro'].hasError('required')}">
            <p *ngIf = "formDir.submitted && (usuarioCadastroForm.controls['bairro'].hasError('required'))" class = "mensagem-error">Informe o Bairro </p>
          </div>
      </div>

      


      <div class="row">
        <div class="buttons-div">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a routerLink (click)="goBack()">
            <button type="submit" class="btn btn-warning">Voltar</button>
          </a>
        </div>
        
      </div>
            
          </form>
        </div>
      </div>
    </div>
</div>
  
  