<header>
    <img src="../../assets/logo.png" alt="Logo Remediar" id="logo">
    <nav>
        <ul id="navegacao">
            <a href=""><li class="borda_letra">Pedidos</li></a>
            <a href=""><li class="borda_letra">Solicitações</li></a>
            <a href=""><li class="borda_letra">Estoque</li></a>
            <a href=""><li class="borda_letra">Relatórios</li></a>
            <a href=""><li class="borda_letra">Histórico</li></a>
        </ul>
    </nav>
</header>

<main>

</main>

<footer>
    <div id="logo-social-area">
        <img src="../../assets/logo.png" alt="Logo Remediar" id="logo">
        <div id="redes-sociais">
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
            <a href="" target="_blank"><i></i></a>
        </div>
    </div>
</footer>
