<div class="solicitar">

    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="col-md-12 col-2 col-sm-1 col-xs-12 col-md-1 col-lg-1">
                <img class="logo" src="../../assets/imagens/logo.png" id="icon" alt="User Icon">
            </div>

            <div class="col-md-10 col-9 col-sm-4 col-xs-12 col-md-6 col-lg-10">
                <div class="navbar-nav justify-content-center">
                    <h1 class="font-weight-bold">Solicitar Medicamentos</h1>
                </div>
            </div>
        </nav>
    </header>

    <div class="solicitacao-form">
        <form (ngSubmit)="submit()" [formGroup]="dadosSolicitacaoForm" #formDir="ngForm">
            <div class="row mb-6 ">
                <label for="descricao" class="col-md-12 labelInput">Nome da medicação conforme especificado na
                    receita:</label>
                <div class="col-md-3">
                    <input type="text" id="nomeMedicamento" name="nomeMedicamento" formControlName="nomeMedicamento">
                </div>
                <div class="col-md-8">
                    <p *ngIf="formDir.submitted && dadosSolicitacaoForm.controls['nomeMedicamento'].hasError('required')"
                        class="mensagem-error col-md-4">*Informe o nome do medicamento</p>
                </div>
                </div>
                <div class="row mb-2"> <label for="descricao" class="col-md-12 labelInput">Dosagem:</label>
                <div class="col-md-2">
                    <input type="text" id="dosagem" name="dosagem" formControlName="dosagem">
                </div>
                <div class="col-md-8">
                    <p *ngIf="formDir.submitted && dadosSolicitacaoForm.controls['dosagem'].hasError('required')"
                        class="mensagem-error col-md-4">*Informe a dosagem do medicamento</p>
                </div>

            </div>
            <div class="row mb-2">
                <label for="descricao" class="col-md-12 labelInput">Unidade:</label>
                <div class="col-md-2">
                    <select id="inputComprimido" class="col-md-2" formControlName="unidade">
                        <option value="Ampolas" selected>Ampolas</option>
                        <option value="Cápsulas">Cápsulas</option>
                        <option value="Comprimidos">Comprimidos</option>
                        <option value="Gotas">Gotas</option>
                        <option value="Injeções">Injeções</option>
                        <option value="Mililitros (ml)">Mililitros (ml)</option>
                        <option value="Pomadas ou cremes">Pomadas ou cremes</option>
                    </select>
                </div>

            </div>
            <div class="row mb-2">
                <label for="quantidade" class="col-md-12 labelInput">Quantidade indicada na receita:</label>
                <div class="col-md-1">
                    <input type="number" id="quantidade" name="quantidade" formControlName="quantidade" min="1" step="1">
                </div>
                <div class="col-md-10">
                    <p *ngIf="formDir.submitted && dadosSolicitacaoForm.controls['quantidade'].hasError('required')"
                        class="mensagem-error col-md-4">*Informe a quantidade indicada na receita</p>
                </div>
            </div>

            <div class="row mb-2">
                <label for="descricao" class="col-md-12 labelInput">Medicamento de uso contínuo?</label>
                <div class="col-md-4 radio-label">
                    <input type="radio" id="opcao-sim" name="usoContinuo" value="S" formControlName="usoContinuo">
                    <span>Sim</span>

                    <input type="radio" id="opcao-nao" name="usoContinuo" value="N" formControlName="usoContinuo">
                    <span>Não</span>
                </div>
            </div>
            <div class="col-md-8 mb-2 dadosRetirada">
                <div class="tituloEndereco">
                    <p>Escolha o local para retirada:</p>
                </div>
                <div class="row radio-label infosEndereco">
                    <div class="col-md-6 radio-label">
                        <input type="radio" id="opcao-2" name="endereco" value="CENTRO - RUA CARIJOS, 141 - 2º ANDAR, CENTRO BH"
                            formControlName="endereco">
                        <span>CENTRO - RUA CARIJOS, 141 - 2º ANDAR <br>(DENTRO DO SINDMAR) - CENTRO BH</span>
                    </div>
                    
                    <div class="col-md-6">
                        <span><b>Horário: </b>SEG a QUI de 9:00 às 16:00</span>
                    </div>
                </div>
                <div class="row radio-label infosEndereco">
                    <div class="col-md-6 radio-label">
                        <input type="radio" id="opcao-2" name="endereco" value="RUA FERREIRA DE AGUIAR, 289, NAZARE" formControlName="endereco">
                        <span>RUA FERREIRA DE AGUIAR, 289, NAZARE</span>
                    </div>
                    
                    <div class="col-md-6">
                        <span><b>Horário: </b> SEG a QUI de 9:30 às 15:30</span>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 mb-2 dadosUsuario">
                <div class="tituloDadosUsuario">
                    <p>Suas informações:</p>
                </div>
                <div class="row camposInfoUsuario">
                    <label for="nomeUsuario" class="col-md-1 labelInput">Nome:</label>
                    <div class="col-md-3 col-9">
                        <input type="text" id="nomeUsuario" name="nomeUsuario" formControlName="nomeUsuario" readonly>
                    </div>
                </div>
                <div class="row camposInfoUsuario mb-2">
                    <label for="telefone" class="col-md-1 labelInput">Telefone:</label>
                    <div class="col-md-3 col-8">
                        <input type="tel" id="telefone" name="telefone" formControlName="telefone" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-2 botoes">
                <button type="submit" class="btnSolicitar">Solicitar</button>
                <a routerLink (click)="goBack()">
                    <button class="btnCancelar">Cancelar</button>
                </a>
            </div>
        </form>
    </div>
</div>