<app-header [title]="'Valores Arrecadados'"></app-header>
<body>
  <div class="valores-arrecadados-container">
    <button class="voltar">Voltar</button>
    <h2 style="padding: 20px 0px;">Valores Arrecadados</h2>
    <div class="charts">
      <div class="bar-chart">
        <div class="bar" style="height: 200px; background-color: #002088;" title="Fev/24">Fev/24</div>
        <div class="bar" style="height: 300px; background-color: #de7c12;" title="Mar/24">Mar/24</div>
        <div class="bar" style="height: 270px; background-color: #28a745;" title="Abr/24">Abr/24</div>
        <div class="bar" style="height: 340px; background-color: #17a2b8;" title="Mai/24">Mai/24</div>
      </div>
      <div class="pie-chart">
        <svg viewBox="0 0 32 32" width="100" height="100">
          <circle r="16" cx="16" cy="16" style="stroke: #007bff; stroke-dasharray: 12 88; stroke-width: 32; fill: none;"></circle>
          <circle r="16" cx="16" cy="16" style="stroke: #28a745; stroke-dasharray: 48 52; stroke-width: 32; fill: none; stroke-dashoffset: 12;"></circle>
          <circle r="16" cx="16" cy="16" style="stroke: #17a2b8; stroke-dasharray: 24 76; stroke-width: 32; fill: none; stroke-dashoffset: 60;"></circle>
        </svg>
      </div>
    </div>
    <div class="year-selector">
      <label for="year">Ano:</label>
      <select id="year">
        <option value="2023">2023</option>
        <option value="2024" selected>2024</option>
        <option value="2025">2025</option>
      </select>
    </div>
    <button class="view-by-year">Visualização por ano</button>
  </div>
</body>
