<div class="emitirRelatorios">
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="col-12 col-sm-1 col-xs-12 col-md-1 col-lg-1">
                <img class="logo" src="../../assets/imagens/logo.png" id="icon" alt="User Icon">
            </div>

            <div class="col-10 col-sm-4 col-xs-12 col-md-6 col-lg-10">
                <div class="navbar-nav justify-content-center">
                    <h1 class="font-weight-bold">Emissão de Relatórios</h1>
                </div>
            </div>
        </nav>
    </header>
    <div class="corpo">
        <div class="row cards">
            <div class="col-md-2 mb-4" >
                <div class="card card-custom text-center text-custom align-items-center" style="background-color: #3A6A56;">
                    <img src="../../assets/imagens/iconeRemedio.png" class="card-img-top mt-3" >
                    <div class="card-body">
                        Medicamentos Mais Distribuídos
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card card-custom  text-center text-custom align-items-center" style="background-color: #20b2aa;">
                    <img src="../../assets/imagens/remediosDoados.png" class="card-img-top mt-3" >
                    <div class="card-body ">
                        Medicamentos mais doados
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card card-custom  text-center text-custom align-items-center" style="background-color: #106C9E;">
                    <img src="../../assets/imagens/money.png" class="card-img-top mt-3">
                    <div class="card-body">
                        Valor total doado
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-2">
                <div class="card card-custom text-center text-custom align-items-center" style="background-color: #e4e015;">
                    <img src="../../assets/imagens/descarte.png" class="card-img-top mt-3" >
                    <div class="card-body">
                        Medicamentos descartados
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card-custom  text-center text-custom align-items-center" style="background-color: #1a3329;">
                    <img src="../../assets/imagens/grafico.png" class="card-img-top mt-3">
                    <div class="card-body">
                        Valor total doado em cada doação
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
