<div class="emitirRelatorios">
    <app-header [title]="'Emissão de Relatórios Mensal/Anual'"></app-header>
    <main class="container">
        <div class="row corpo">
                <table class="row">
                    <tr class="col-4">
                        <ol>
                            <h1 class="titleLista">Valor Total/Mensal</h1>
                            <div class="card card-custom  text-center text-custom align-items-center" style="background-color: #106C9E  ;">
                                <div class="card-body ">
                                    <h2 class="valor">0,00 R$</h2>
                                </div>
                            </div>
                        </ol>
                    </tr>

                    <tr class="col-4">                    
                        <ol>                
                            <h1 class="titleLista">Valor Total/Anual</h1>
                            <div class="card card-custom  text-center text-custom align-items-center" style="background-color: #106C9E  ;">
                                <div class="card-body ">
                                    <h2 class="valor">0,00 R$</h2>
                                </div>
                            </div>
                        </ol>
                    </tr>
                </table>
            

        </div>
    </main>
    <app-voltar></app-voltar>
</div>
