<div class="emitirRelatorios">
    <app-header [title]="'Emissão de Relatórios'"></app-header>
    <div class="row corpo">
        <div class="row cards">
            <div class="col-md-2 mb-2" >
                <a routerLink="/" >
                    <div class="card card-custom text-center text-custom align-items-center" style="background-color: #3A6A56;">
                        <img src="../../assets/imagens/iconeRemedio.png" class="card-img-top mt-3" >
                        <div class="card-body">
                            Medicamentos mais destribuídos
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 mb-2">
                <a routerLink="/" >
                    <div class="card card-custom  text-center text-custom align-items-center" style="background-color: #106C9E  ;">
                        <img src="../../assets/imagens/remediosDoados.png" class="card-img-top mt-3" >
                        <div class="card-body ">
                            Medicamentos mais recebidos
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 mb-2">
                <a routerLink="/" >
                    <div class="card card-custom text-center text-custom align-items-center" style="background-color: #eb2424;">
                        <img src="../../assets/imagens/descarte.png" class="card-img-top mt-3" >
                        <div class="card-body">
                            Medicamentos descartados
                        </div>
                    </div>
                </a>
            </div>
            <div class="row cards mt-2">
                <div class="col-md-2 mb-2">
                    <a routerLink="/" >
                        <div class="card card-custom  text-center text-custom align-items-center" style="background-color: #20b2aa;">
                            <img src="../../assets/imagens/money.png" class="card-img-top mt-3">
                            <div class="card-body">
                                Valor total de doações por mês e ano
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 mb-6">
                    <a routerLink="/" >
                        <div class="card card-custom  text-center text-custom align-items-center" style="background-color:  #c9c621;">
                            <img src="../../assets/imagens/tabela.png" class="card-img-top mt-3">
                            <div class="card-body">
                                Valor total doado em cada doação
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2 divBotao">
        <a routerLink (click)="goBack()">
            <button>Voltar</button>
        </a>
        
    </div>
</div>
