<div class="body">
  <header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="col-12 col-sm-1 col-xs-12 col-md-1 col-lg-1">
            <img class="logo" src="..\..\assets\Images\logo.png" alt="logo" >
        </div>

        <div class="col-10 col-sm-4 col-xs-12 col-md-6 col-lg-10">
            <div class="navbar-nav justify-content-center">
                <h1 class="font-weight-bold" >Histórico de Doadores</h1>
            </div>
        </div>
    </nav>
</header>
  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Telefone</th>
            <th scope="col">Endereço</th>
            <th scope="col">Quantidade Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    
      <div class="row">
        <div class="buttons-div">
          <button type="button" class="btn btn-warning">Voltar</button>
        </div>
      </div>
</div>
</div>


